<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="org.yandex.entity.Country" alias="country"/>
        <typeAlias type="org.yandex.entity.City" alias="city"/>
        <typeAlias type="org.yandex.entity.Street" alias="street"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/CountryMapper.xml" />
        <mapper resource="mapper/CityMapper.xml" />
        <mapper resource="mapper/StreetMapper.xml" />
    </mappers>
</configuration>
